In [31]:
from pyspark.sql import SparkSession

DIRPATH = "C:/Users/sanjay s risbud/Dropbox/My Work/practice/python/pyspark/Spark-Tutorials-master/data/"
spark = SparkSession.builder.appName("Exercise").getOrCreate()

In [45]:
df = spark.read.csv(DIRPATH + "sales_info.csv", header=True, inferSchema=True)

In [46]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [51]:
df.groupBy(df["Company"]).max("Sales").show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [54]:
# summarize using agg()
df.agg({"Sales": "max"}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [55]:
# same as above
df.groupBy(df["Company"]).agg({"Sales": "max"}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [57]:
# using sql functions
from pyspark.sql.functions import countDistinct
df.select(countDistinct("Sales")).show()

+---------------------+
|count(DISTINCT Sales)|
+---------------------+
|                   11|
+---------------------+

In [71]:
from pyspark.sql.functions import min, max, count, avg, sum, col, format_number
sales_column = col("Sales")
columns_to_display = [
    format_number(min(sales_column), 2).alias("Min Sales"),
    format_number(max(sales_column), 2).alias("Max Sales"),
    format_number(avg(sales_column), 2).alias("Average"),
    format_number(sum(sales_column), 2).alias("Total Sales"),
]
result = df.groupBy("Company").agg(*columns_to_display)
result.show()

+-------+---------+---------+-------+-----------+
|Company|Min Sales|Max Sales|Average|Total Sales|
+-------+---------+---------+-------+-----------+
|   APPL|   130.00|   750.00| 370.00|   1,480.00|
|   GOOG|   120.00|   340.00| 220.00|     660.00|
|     FB|   350.00|   870.00| 610.00|   1,220.00|
|   MSFT|   124.00|   600.00| 322.33|     967.00|
+-------+---------+---------+-------+-----------+

In [75]:
df.orderBy(df["Company"].asc(), df["Sales"].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   GOOG|  Frank|340.0|
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   MSFT|   Tina|600.0|
|   MSFT|Vanessa|243.0|
|   MSFT|    Amy|124.0|
+-------+-------+-----+