In [8]:
from pyspark.sql import SparkSession

DIRPATH = "C:/Users/sanjay s risbud/Dropbox/My Work/practice/python/pyspark/Spark-Tutorials-master/data/"
spark = SparkSession.builder.appName("Exercise").getOrCreate()

In [12]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType
actual_schema = StructType(fields=[
    StructField("age", IntegerType(), nullable=True),
    StructField("name", StringType(), nullable=True),
    ]) 
df = spark.read.json(DIRPATH + "people.json", schema=actual_schema)
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [15]:
df.select(["name", "age"]).show()

+-------+----+
|   name| age|
+-------+----+
|Michael|null|
|   Andy|  30|
| Justin|  19|
+-------+----+

In [21]:
df.withColumn("doubled_age", col=df["age"]*2).show()

+----+-------+-----------+
| age|   name|doubled_age|
+----+-------+-----------+
|null|Michael|       null|
|  30|   Andy|         60|
|  19| Justin|         38|
+----+-------+-----------+

In [22]:
# to execute actual SQL
df.createOrReplaceTempView("temp_table")
results = spark.sql("select * from temp_table where age is not null")
results.show()

+---+------+
|age|  name|
+---+------+
| 30|  Andy|
| 19|Justin|
+---+------+

In [30]:
# equivalent in df-ese
df.select("*").where("age is not null").show()

+---+------+
|age|  name|
+---+------+
| 30|  Andy|
| 19|Justin|
+---+------+